
<p>
  <%= form_tag({:controller => 'recipes', :action => 'index'}, method: 'get') do %>
      <label for="search"></label>
      <%= text_field_tag :search,"What Do You Wanna Make?" %>
      <%= submit_tag "Let's Get Cooking", :name => nil %>
  <% end %>
</p>

<div class="searchImages">
  <% @recipeResponse["hits"].each do |response| %>
    <span id="imageResponseRecipe">
      <% @image = response["recipe"]["image"] %>
      <%= image_tag(@image) %>
    </span>
    <% @title = response["recipe"]["label"] %>
    <% response["recipe"]["ingredients"].each do |text| %>
      <% @ingredient = text["text"] %>
    <% end %>
    <span style="margin:0,padding:0">
    <%= form_for(:recipe, url: recipes_path, :class => "form") do |f| %>
      <p id="TitleRecipe">
        <%= f.text_field :title, value: @title %>
      </p>
      <p id="ingredientList">
        <%= f.text_area :ingredients, value: @ingredient   %>
      </p>
      <%= f.submit "Make List", :class => "recipeSubmit" %>
    <% end%>
  <%end%>
</span>
</div>
