
<p>
  <%= form_tag(recipes_path, id: "search-form") do %>
      <label for="search"></label>
      <%= text_field_tag :search,"What Do You Wanna Make?" %>
      <%= submit_tag "Let's Get Cooking", :name => nil %>
  <% end %>
</p>

  <% @recipeResponse["hits"].each do |response| %>
<p>
  <li><%= response["recipe"]["label"] %></li>
  <li><%= response["recipe"]["ingredients"] %></li>
  <li> <% @image = response["recipe"]["image"] %>
  <li> <%= image_tag(@image) %> </li>
</p>
  <%end%>
<p>
<%= @recipeResponse["hits"][1]["recipe"]["label"] %>
</p>
