<p>
  <%= form_tag({:controller => 'home', :action => 'index'}, method: 'get') do %>
      <label for="search"></label>
      <%= text_field_tag :search,"What Do You Wanna Make?" %>
      <%= submit_tag "Let's Get Cooking", :name => nil %>
  <% end %>
</p>

      <% @recipeResponse["hits"].each do |response| %>
        <p>
          <% @image = response["recipe"]["image"] %>
          <%= image_tag(@image) %>
          <%= response["recipe"]["label"] %>
        </p>
      <%end%>
