<!DOCTYPE html>
<html>
  <head>
    <title>Pocketchef(Auf Deutsch)</title>

    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag 'application' %>
    <%= javascript_include_tag 'application' %>
    <link href="https://fonts.googleapis.com/css?family=Merriweather+Sans|Shrikhand" rel="stylesheet">
    <center><strong><header>PocketChef</header></strong></center>
  </head>
  <body>


    <nav>
      <p class="navbar-text pull-right">
      <% if user_signed_in? %>
        <p id="userLogIn">Logged in as <strong><%= current_user.email %></strong></p>
        <%= link_to 'Home |', root_path, :class => 'navbar-link' %>
        <%= link_to 'Edit Account|', edit_user_registration_path, :class => 'navbar-link' %>
        <%= link_to 'Sign out', destroy_user_session_path, :method => :delete, :class => 'navbar-link'  %>
      <% else %>
        <%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link |'  %>
        <%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %>
      <% end %>
    </nav>



    <% if notice %>
      <p class="notice"><%= notice %></p>
    <%end %>
    <% if alert %>
      <p class="alert"><%= alert %></p>
    <% end %>
    <%= yield %>

    <script>
      document.addEventListener("DOMContentLoaded", function() {
        var button = document.getElementById("submit");
        var searchField = document.getElementById("cooking");

  // This is adding ERB so that the variables can read the ENV
        var apiPath = 'https://api.edamam.com/search?q=';
        var appId = "<%= ENV['RECIPE_APP_ID'] %>";
        var apiKey = "<%= ENV['RECIPE_API_KEY'] %>";

        function recipeGenerate(){
           var url = apiPath + searchField.value + appId+ apiKey;
           console.log(url)
        };

        button.addEventListener("click", function(){
           recipeGenerate();

        });
    });
    </script>



  </body>
</html>
